body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Ubuntu;
}

.header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 17px 79px 17px 79px;
}

.journey {
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    color: #fff;
}

.green-hover {
    text-decoration: none;
    color: #fff;
}

.journey:hover,
.green-hover:hover{
    color: #3CB878;
    transition: 1s;
}

.header-right {
    display: flex;
    align-items: center;
}

.post {
    padding: 0 24px 0 27px;
}

svg:hover path {
    fill: #3CB878;
    transition: 1s;
}

.welcome::before {
    content: "|";
    padding: 0 27px 0 25px;
}

.section {
    width: 444px;
    height: 584px;
    background-color: #fff;
    margin: 54px auto;
    vertical-align: middle;
    position: relative;
    padding: 31px 60px 38px 60px;
    box-sizing: border-box;
}

.section::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: 29px;
    left: 0;
    background: #3CB878;
}

.flex-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.sign {
    color: #434343;
    font-size: 20px;
    text-decoration: none;
}

.log {
    color: #3CB878;
    font-size: 14px;
    text-decoration: none;
}

.log:hover,
.green:hover {
    text-decoration: underline;
    color: #01813F;
    transition: 1s;
}

.flex-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.facebook {
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    margin-right: 4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    position: relative;
    text-decoration: none;
    color: #fff;
}

.facebook-logo {
    width: 13px;
    height: 24px;
}

.facebook-text::before{
    content: "|";
    width: 1px;
    height: 28px;
    color: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    padding-right: 18px;
}

.google {
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    display: flex;
    justify-content: space-around;
    color: #fff;
    align-items: center;
    border-radius: 3px;
    position: relative;
    text-decoration: none;
    color: #fff;
}

.google-logo {
    width: 30px;
    height: 19px;
}

.google-text::before{
    content: "|";
    width: 1px;
    height: 28px;
    color: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    padding-right: 30px;
}

.or {
    font-size: 14px;
    color: #848484;
    background-color: #fff;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 2px 0 5px;
}

.block {
    position: relative;
    margin: 31px 0 12px 0;
    text-align: center;
    box-sizing: border-box;
}

.block:after {
    content:"";
    display: block;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

input:not([type=checkbox]) {
    width: 322px;
    height: 44px;
    color: #BEBEBE;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
    padding-left: 20px;
    box-sizing: border-box;
}

input:focus {
    color: #434343;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border: none;
    outline: none;
}

input:enabled:not([type=checkbox]) {
    color: #000;
}

.green {
    color: #3CB878;
    text-decoration: none;
}

label .checkbox {
    margin-top: 12px;
}

.btn-green {
    width: 100%;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border-color: transparent;
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn-green:active {
    background: #01813F;
    transition: 0.3s;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2713";
    color: transparent;
    display: inline-block;
    border: 1px solid #F2F2F2;
    font-size: 27px;
    font-weight: 900;
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    
    text-align: center;
    vertical-align: middle;
    transition: color ease .3s;
    padding: 3px;
}

input[type=checkbox]:checked + label:before {
    color: #3CB878;
    transition: 0.4s;
}
